<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
    <title>Dashboard</title>
  </head>
  <body>
    <% include ../partials/menu.ejs %>
    <div class="container">
        <h1><% if(currentUser) { %>
            Welcome <%=currentUser.username%>! This is your dashboard!
            <% } %>
        </h1>
        <a href="/app/new" class="waves-effect waves-light btn">Add New Transaction</a>
    </div>
  </body>
</html>