<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
    <title>Dashboard</title>
  </head>
  <body>
    <div class="container">
        <h1><% if(currentUser) { %>
            Welcome <%=currentUser.username%>! This is your dashboard!
            <% } %>
            <form action="/sessions?_method=DELETE" method="POST">
                <input type="submit" value="Logout" class="waves-effect waves-light btn"/>
            </form>
        </h1>
    </div>
  </body>
</html>