<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../../partials/head.ejs %>
    <title>Dashboard</title>
  </head>
  <body>
    <div class="container">
      HELLO
    </div>
  </body>
</html>



<!-- Shows Details of Single Account
Edit Button
Delete Button
Back Button -->